<!DOCTYPE html>
<html>
  <head>
    <title>Elcamino</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if technician_signed_in? %>
      <span>Welcome, <%= current_technician.first_name %></span>
      <%= link_to "Log out", destroy_technician_session_path, id: 'log-out' %>
    <% else %>
      <%= link_to "Login", new_technician_session_path, id: 'login-technician' %>
    <% end %>
    <% if notice %><%= notice %><% end %>
    <% if alert %><%= alert %><% end %>
    <%= yield %>
  </body>
</html>
